# cache for requests to hanab.live
hanab.live
# python venv
venv/
# pycache dir
__pycache__
test.py


# a few output files
log.txt
remaining_cards.txt
lost_seeds.txt
utils.py
infeasible_instances.txt
verbose_log.txt
debug_log.txt
